body {
    display: flex;
    flex-direction: column;
    background: #0a0c1c;
  }

.card-container {
    width: 327px;
    height: 780px;
    flex-direction: column;
    background-color: #1b1937;
    border-radius: 8px;
    border: solid red;
    margin-top: 15%;
  }

  