body {
  display: flex;
  flex-direction: column;
  background: #0a0c1c;
  align-items: center;
}

.wrapper {
  width: 1110px;
  height: 446px;
  border: solid red;
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 195px;
  
}
.card {
  display: flex;
  flex-direction: column;
  border: solid blue;
  width: 1110px;
}
.date {
  order: -1;
  text-align: right;
}

.pic {
  background-color: blueviolet;
}

.pic img {
  opacity: .5;
}